{% extends 'base.html' %}

<head>
{% block title %}{{ recipe.name }} - Recipe Book{% endblock %}
</head>

{% block content %}
    <h1>{{ recipe.name }}</h1>
    <p>Author: {{ recipe.author }}</p>
    <p>Created on: {{ recipe.created_on|date:"F d, Y" }}</p>
    <p>Last updated: {{ recipe.updated_on|date:"F d, Y" }}</p>

    <h2>Ingredients:</h2>
    <ul>
        {% for recipeingredient in recipe.ingredients.all %}
            <li>{{ recipeingredient.ingredient.name }}: {{ recipeingredient.quantity }}</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'recipe_list' %}">Back to Recipes</a>
{% endblock %}