{% extends 'base.html' %}

<head>
{% block title %}{{ recipe.name }} - Recipe Book{% endblock %}
</head>

{% block content %}
    <h1>{{ recipe.name }}</h1>
    <p>Author: {{ recipe.author }}</p>
    <p>Created on: {{ recipe.created_on|date:"F d, Y" }}</p>
    <p>Last updated: {{ recipe.updated_on|date:"F d, Y" }}</p>

    <h2>Ingredients:</h2>
    <ul>
        {% for recipeingredient in recipe.ingredients.all %}
            <li>{{ recipeingredient.ingredient.name }}: {{ recipeingredient.quantity }}</li>
        {% endfor %}
    </ul>

    <h2>Image:</h2>
    <div>
        {% for image in recipe.images.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endfor %}
    </div>

    <p><a href="{% url 'add_recipe_image' recipe.id %}">Add your image here</a></p>
    
    <a href="{% url 'recipe_list' %}">Back to Recipes</a>
{% endblock %}